## Pandas Tutorial

### Add/Remove Rows and Columns From DataFrames

 - **Source:** Corey Schafer - [Python Pandas Playlist](https://www.youtube.com/playlist?list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

In [1]:
import pandas as pd

### Creating a sample DataFrame

In [2]:
people = {
    "first": ["Joey", "Chandler", "Ross"],
    "last": ["Tribiyani", "Bing", "Geller"],
    "email": ["howudoing@gmail.com", "waphaaa@gmail.com", "hiiii@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)
df

      first       last                email
0      Joey  Tribiyani  howudoing@gmail.com
1  Chandler       Bing    waphaaa@gmail.com
2      Ross     Geller      hiiii@gmail.com

### Adding a new Column

In [4]:
# 1st way
# df["full_name"] = df["first"] + " " + df["last"]

# 2nd way
df["full_name"] = df[["first", "last"]].apply(" ".join, axis=1)
df

      first       last                email       full_name
0      Joey  Tribiyani  howudoing@gmail.com  Joey Tribiyani
1  Chandler       Bing    waphaaa@gmail.com   Chandler Bing
2      Ross     Geller      hiiii@gmail.com     Ross Geller

### Removing Columns

In [5]:
df.drop(columns=["first", "last"], inplace=True)
df

                 email       full_name
0  howudoing@gmail.com  Joey Tribiyani
1    waphaaa@gmail.com   Chandler Bing
2      hiiii@gmail.com     Ross Geller

In [6]:
# expand=True, sets the splited elements in each column
df["full_name"].str.split(" ", expand=True)

          0          1
0      Joey  Tribiyani
1  Chandler       Bing
2      Ross     Geller

In [7]:
df[["first", "last"]] = df["full_name"].str.split(" ", expand=True)
df

                 email       full_name     first       last
0  howudoing@gmail.com  Joey Tribiyani      Joey  Tribiyani
1    waphaaa@gmail.com   Chandler Bing  Chandler       Bing
2      hiiii@gmail.com     Ross Geller      Ross     Geller

### To add a single row, we assign the values to the `df.loc[current_length]`

In [8]:
df.loc[3] = ["reginalphilangy@gmail.com", "Pheobe Buffay", "Pheobe", "Buffay"]
df

                       email       full_name     first       last
0        howudoing@gmail.com  Joey Tribiyani      Joey  Tribiyani
1          waphaaa@gmail.com   Chandler Bing  Chandler       Bing
2            hiiii@gmail.com     Ross Geller      Ross     Geller
3  reginalphilangy@gmail.com   Pheobe Buffay    Pheobe     Buffay

In [9]:
df.loc[len(df.index)] = {"last" : "Green", "first" : "Rachel", "email" : "iamahat@gmail.com", "full_name" : "Rachel Green"}
df

                       email       full_name     first       last
0        howudoing@gmail.com  Joey Tribiyani      Joey  Tribiyani
1          waphaaa@gmail.com   Chandler Bing  Chandler       Bing
2            hiiii@gmail.com     Ross Geller      Ross     Geller
3  reginalphilangy@gmail.com   Pheobe Buffay    Pheobe     Buffay
4          iamahat@gmail.com    Rachel Green    Rachel      Green

### To create a single row dataframe,

- Either pass index in an iterable
- Or put the values in an iterable

In [10]:
x = pd.DataFrame({"first": "Gunther"}, index=[0])
x

     first
0  Gunther

In [11]:
y = pd.DataFrame({"first" : ["Mike"]})
y

  first
0  Mike

In [12]:
df = pd.concat([df, x, y], ignore_index=True)
df

                       email       full_name     first       last
0        howudoing@gmail.com  Joey Tribiyani      Joey  Tribiyani
1          waphaaa@gmail.com   Chandler Bing  Chandler       Bing
2            hiiii@gmail.com     Ross Geller      Ross     Geller
3  reginalphilangy@gmail.com   Pheobe Buffay    Pheobe     Buffay
4          iamahat@gmail.com    Rachel Green    Rachel      Green
5                        NaN             NaN   Gunther        NaN
6                        NaN             NaN      Mike        NaN

### To Drop a row, we use `.drop()` and pass the specific index

In [13]:
df.drop(index=4, inplace=True)
df

                       email       full_name     first       last
0        howudoing@gmail.com  Joey Tribiyani      Joey  Tribiyani
1          waphaaa@gmail.com   Chandler Bing  Chandler       Bing
2            hiiii@gmail.com     Ross Geller      Ross     Geller
3  reginalphilangy@gmail.com   Pheobe Buffay    Pheobe     Buffay
5                        NaN             NaN   Gunther        NaN
6                        NaN             NaN      Mike        NaN

In [14]:
filt = df["first"] == "Mike"
df.drop(index=df[filt].index)

                       email       full_name     first       last
0        howudoing@gmail.com  Joey Tribiyani      Joey  Tribiyani
1          waphaaa@gmail.com   Chandler Bing  Chandler       Bing
2            hiiii@gmail.com     Ross Geller      Ross     Geller
3  reginalphilangy@gmail.com   Pheobe Buffay    Pheobe     Buffay
5                        NaN             NaN   Gunther        NaN